---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import Section1 from '../components/uge44section1.astro';
import Section2 from '../components/uge44section2.astro'
import '../styles/uge44.css';
---

<Layout title="UGE 44 – Liv & Død">
  <Header />
  <Hero tagline="UGE 44 FOKUS PÅ DØDEN" title="UGE 44" />
  <main>
  <Section1 />
  <img class="monogram" src="../../public/uge44monogram.webp.webp" alt="orange logo monogram">
  <Section2 />
  </main>
  <Footer />
</Layout>
