<section class="content">
    <h1>Om UGE 44</h1>
    <p>
      Hvert år sætter Landsforeningen Liv&Død landsdækkende fokus på døden i uge 44 gennem indsatser,
      der går på tværs af kultur, sundhed og læring. Og du kan blive en del af kampagnen!
    </p>
    <p>
      I forskellige dele af verden mindes man de døde i efteråret. De fleste kender nok De Dødes Dag i Mexico,
      hvor man mødes på tværs af generationer og ærer og mindes sine afdøde.
    </p>
    <p>
      Men hvornår forholder vi os egentlig til de døde i Danmark?
    </p>
  </section>