<section class="content">
    <p>
      I vores del af verden – og i vores tid – bruger vi ikke meget tid på at forholde os til døden eller de døde.
      I nogle kirker er der en tradition for at læse navnene op på de døde ved allehelgensdag, men derudover har vi
      ikke mange fællesskaber forbundet med at mindes de døde på særlige dage. Det resulterer i, at døden, sorgen
      og minderne bliver til private anliggender, som man i bedste fald har sammen med familien, og i værste fald
      slet ikke har overhovedet.
    </p>
 <p>
      Engang var døden i Danmark en integreret del af livet, som et billede på dets ophør og som en mulig indgang
      til noget andet og evigt. Livet blev ikke taget for givet, for døden var altid lige om hjørnet. I dag kan vi
      være taknemmelige for, at døden ikke altid ligger på lur. Men de fleste af os kommer en dag til at skulle
      forholde sig til døden, om vi vil det eller ej.
    </p>
<p>
      Derfor vil vi gerne slå et slag for, at vi kan skabe nogle fælles rammer hvor vi kan forholde os til døden i
      livet, så vi sammen kan få et sprog for det svære, det meningsfulde og det menneskelige.
      <br><br>
      Men vi ved, at det kan være svært. Især når rammerne mangler.
    </p>
  </section>